body {
  margin: 0;
  background-image: linear-gradient(120deg, #6f84ed 40%, transparent 80%);
}

* {
  box-sizing: border-box;
}

.ui-sortable {
  min-height: 80px;
}
.btn-delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 0;
  background-color: rgba(0,0,0,0.4);
  color: white;
}

.btn-delete:hover{
  cursor: pointer;
}
/* BOARD */
.board h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

.create-column {
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/* COLUMN */
.column {
  order: 1;
  min-width: 300px;
  min-height: 50vh;
  background-color: lightgrey;
  margin-left: 8px;
  list-style: none;
  position: relative;
  margin-bottom: 20px;
}
.column-add-card {
  cursor: pointer;
  display: block;
  margin: 5px 8px;
  margin-right: auto;
  margin-left: auto;
}

.column-title {
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

/* STYLE KARTY */
.card {
  display: block;
  height: 40px;
  font-size: 22px;
  padding: 4px;
  overflow: hidden;
  position: relative;
}
.card-list {
  list-style: none;
  margin: 5px;
  padding: 0px;
}
.card-description {
  margin: 2px 0;
}
.card-placeholder {
  border: 2px solid lightgrey;
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
}
